:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primery-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: #F4F4FD;
    --primery-text-color-theme-light: #2E2F42;
    --secondary-text-color-theme-light: #434455;
    --accent-color: #404BBF;
   }

   body {
       font-family: 'Roboto', sans-serif;
       color: #434455;
       background-color: #FFFFFF;
       font-style: normal;
       /*display: block;*/
   }
   
   /*.container {
       width: 1158px;
       margin-left: auto;
       margin-right: auto;
       padding-left: 15px;
       padding-right: 15px;
   }*/
    .list { 
       list-style: none;  
   }

   .link {
       text-decoration: none;
   }

   h1,
   h2,
   h3,
   p {
       margin-top: 0;
       margin-bottom: 0;
       /*padding-left: 0;*/
   }

   ul {
       margin-top: 0;
       margin-bottom: 0;
       padding: 0;
   }

   img {
       display: block;
      
   }
   li {
       display: list-item;
       text-align: -webkit-match-parent;
   }
   .button {
    cursor: pointer;
   }

    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
  
    }

    @media screen and (min-width: 428px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
        }
    }

    @media screen and (min-width: 768px) {
    .container {
        width: 768px;
       
        }
    }

    @media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
        }
    }
   
   /*header*/

   .menu {
    display: none;
    }

    .contact {
        display: none;
    }
    
    .logo {
        margin-right: 76px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
    
    }
    .studio-logo {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        color: #2E2F42;
    
    }
    
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
        
    }
    
    .page-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    
    .mobile-menu-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        margin-left: auto;
    }
    
    .mobile-menu-container {
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow: auto;
    
    } 
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }


     
    @media screen and (min-width: 768px) {
        
        
        .mobile-menu-open-btn {
            display: none;
            
        }
    
        .menu {
            display: flex;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            gap: 40px;
            
        }
    
        .contact {
            display: flex;
            flex-direction: column;
            margin-left: 40px;
        }
    
        .top-navigation {
            display: flex;
            align-items: center;
            column-gap: 120px;
        }
    
        .menu-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        }
    
        .adress-contact {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: #434455;
            letter-spacing: 0.02em;
        }
    
        .current-menu-link::after {
            width: 100%;
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf; 
            border-radius: 2px;  
        }
        
        .current-menu-link {
            color: #404bbf;
        }
    
        .contact {
        
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            margin-left: auto;
            
        }
    
        .logo {
            margin-right: 0;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: #4d5ae5;
        
        }
    
        .page-header {
            padding-top: 0;
            padding-bottom: 0;
        }
    
        
    }
    
    @media screen and (min-width: 1158px) {
        .contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-left: auto;   
        }
        .contact-item {
            margin-right: 40px;
        }
    
        .adress-contact:hover,
        .adress-contact:focus {
        color: #404bbf;
        }
    
        .page-header {
        
        padding-bottom: 0;
        }
    }
    
    .site-nav-mobile {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    
    .site-nav-link-mobile {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }
    
      .menu-link-mobile {
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .menu-link-mobile:hover,
      .menu-link-mobile:focus {
        color: #404bbf;
      }
      .current-mobile {
        color: #404bbf;
      }
    
    .nav-address-mobile {
        font-style: normal;
    
      }
    
      .contacts-mobile-tel {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        
      }
    
      .mob-item {
        margin-bottom: 40px;
      }
    
      .color-contacts {
        color: #4D5AE5;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .address-mobile {
        display: block;
        margin-top: 284px;
      }
    
      .contacts-mobile-email {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
      }
    
      .mobile-social-links {
        max-width: 328px;
      }
    
      .mobile-social-list {
        display: flex;
        align-items: center;
        gap: 56px;
      }
      .social-icon-item {
        width: 40px;
        height: 40px;
    }
      .social-icon-item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        border-radius: 50%;
      }

      .social-icon-item-link-svg {
        fill: #F4F4FD;
    }
      

   /*mobile sec1*/

   @media screen and (max-width: 767px) {
    .feauter-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob.jpg);
    } 
}

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), 
        screen and (min-resolution: 192dpi) and (max-width: 767px), 
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .feauter-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob@2x.jpg);
    }
}
    /*tab*/

    @media screen and (min-width: 768px) {
    .feauter-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab.jpg);
        } 
    }
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), 
    screen and (min-resolution: 192dpi) and (min-width: 768px), 
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .feauter-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab@2x.jpg);
        }
    }
    
    /* Desk */
    
    @media screen and (min-width: 1158px) {
    .feauter-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        } 
    }
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px), 
    screen and (min-resolution: 192dpi) and (min-width: 1158px), 
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .feauter-one{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
        }
    }

    .feauter-one {
        background-color: #2E2F42;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg.jpg");
        background-size: cover;
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        
    }

    .main-header {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .button {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        padding: 16px 32px 16px 32px; 
        margin: auto;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
    }
    .button:hover,
    .button:focus {
        background-color: var(--accent-color);
    }

    /*tab*/


    @media screen and (min-width: 768px) and (max-width: 1157px) {
    
    .main-header {

        font-style: normal;
        font-weight: 700;
        color: #ffffff;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
       }

    }


    /*desk*/

    @media screen and (min-width: 1158px) {
    .feauter-one {
        background: #2E2F42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .main-header {
        color: var(--primery-text-color-theme-dark);
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
    }

    .button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-right: auto;
        margin-left: auto;
        border: none;
        min-width: 169px;
        height: 56px;
        display: block;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4d5ae5;
        color: var(--primery-text-color-theme-dark);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4p;
    }

    .button:hover,
    .button:focus {
        color: #FFFFFF;
        background: #404BBF;
    }
    }
/*sec2*/

@media screen and (max-width: 767px) {

    .info-items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .section {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px
    }

    .section-description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }



}
    /*tab*/



    @media screen and (min-width: 768px) and (max-width: 1157px)  {
    
    
        .section {
            text-align: left;
            font-weight: 500;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px;
            
        }

        .info-items {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;
            
        }

        .info-item {
            flex-basis: calc((100% - 24px) / 2);
        }
    } 

   

    .feauter-two {
        padding-top: 96px;
        padding-bottom: 96px;
    

    }

    .icon {
        display: none;
        
    }
    .section-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .section {
        
        align-items: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }

        /*.info-item {
        margin-bottom: 72px;
    
        
    }/*
    /* Desk */
    @media screen and (min-width: 1158px) {
        .feauter-two {
            padding-top: 120px;
            padding-bottom: 120px;
        
        }
        
        .section-description {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
        
        .info-items {
            display: flex;
            gap: 24px;
        }
        
        
        
        .info-item {
            width: calc((100% - 72px) / 4);
        }
        
        .section {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px;
        }
        
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #F4F4FD;
            border-radius: 4px;
            margin-bottom: 8px;
        }
    }



       /*sec3*/


       .feauter-three {
        display: none;
    }

    /* Desk */

    @media screen and (min-width: 1158px) {

    .feauter-three {
        display: block;
    }

    .section-header {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    
    }
    
    .feauter-three {
        padding-bottom: 120px;
    
    }
    
    .work-items {
        display: flex;
        gap: 24px;
    }
    
    .work-item {
        width: calc((100% - 48px) / 3); 
    
    }
       
    }
/* Tab*/

    @media screen and (min-width: 768px) and (max-width: 1157px) {
        .feauter-three {
            display: none;
        }
    }

/*sec4*/

    .section-header-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primery-text-color-theme-light);
        margin-bottom: 72px;
    }

    .feauter-four {
        background-color: #F4F4FD;
        padding-top: 96px;
        padding-bottom: 96px;
    }
 
    .social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .social-list-item {
        width: 40px;
        height: 40px;
    }

    .social-list-item-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
    }

    .social-list-item-link:hover,
    .social-list-item-link:focus {
        background-color: var(--accent-color);
    }

    .social-list-icon {
        fill: #404BBF; 
    }

    .section-header-item {
        background-color: #ffffff;

    }



    .team-company {
        flex-basis: calc((100% - 24px) / 2);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

    }

    .section-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 8px;
    }

    .section-header-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .section-description-text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
    }
    
    .name-position {
        padding: 32px 0px;
    }


    /* Tab */
    @media screen and (min-width: 768px) and (max-width: 1157px) {
    
        .team-company {
        flex-basis: calc((100% - 24px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .section-header-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
}

/* Desk */
    @media screen and (min-width: 1158px) {
    .feauter-four {
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .section-header-item {
        background-color: #ffffff;
    }
    
    .section-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 8px;
    }
    
    .section-header-list {
        display: flex;
        gap: 24px;
        
    }
    
    .team-company {
        flex-basis: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .section-description-text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
    }
    
    .name-position {
        padding: 32px 0px;
    }
    .social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .social-list-item {
        width: 40px;
        height: 40px;
    }
    
    .social-list-item-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
    }
    
    .social-list-item-link:hover,
    .social-list-item-link:focus {
        background-color: #404BBF;
    }
    
    .social-list-icon {
       fill: #F4F4FD; 
    }
}



/* Sec5*/


    /*.company {
        padding: 120px 0;
    }*/

    .company-title {
        font-size: 36px;
        line-height: 1.1;
        color: #2e2f42;
        margin-bottom: 72px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
    }
    .company {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .social-company-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;
        justify-content: center;
    }

    .company-item {
        flex-basis: 190px;
        height: 88px;
    }

    .company-list-item-link {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: #8E8F99;
        justify-content: center;


    }

    .company-list-item-link:hover,
    .company-list-item-link:focus{ 
    border-color:#404bbf;
    color:#404bbf;

    }
    .company-link {
        fill: currentColor;
    }


/* Tabl*/


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .company-item {
        flex-basis: 168px;
        height: 88px;

    }

    .social-company-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
      }

}

    @media screen and (min-width: 1158px) {

    .company-title {
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    
    }
    
    .company {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .social-company-list {
        display: flex;
        gap: 24px;
    
    }
    
    .company-item {
        flex-basis: calc((100% - 120px) / 6);
        height: 88px;
    }
    
    .company-list-item-link {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: #8E8F99;
        justify-content: center;
    
    
    }
    
    .company-list-item-link:hover,
    .company-list-item-link:focus {
        border-color:#404bbf;
        color:#404bbf;
    
    
    
    }
    
    .company-link {
        fill: currentColor;
    
    }
}
 

    

/*footer*/

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;

}

.total-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

.logo-footer {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}
.footer-text {
    color: #ffffff;
    max-width: 264px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
/*.footer-container {
    text-align: center;
}*/

.media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.studio-logo-footer {
    color: #F4F4FD;
}


.footer-container-logo {
    
    text-align: center;
    /*width: 268px;
    height: 112px;
    left: 156px;
    top: 2988px;
    margin-right: 80px;
    margin-left: 80px;*/
}

.media-list {
    display: flex;
    gap: 16px;
}

.media-list-item {
    width: 40px;
    height: 40px;

}

.social-list-item-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.social-list-item-link-footer:hover,
.social-list-item-link-footer:focus{  
     background-color: #31d0aa;}

.social-list-icon {
    fill: #F4F4FD;

}

.footer-container-subscribe {
    text-align: center;
}

.footer-input {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

    }

.footer-input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.modal-form-field-footer {
    margin-bottom: 16px;
}

.modal-form-input-footer {
    width: 398px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.modal-form-input-footer::placeholder {
    color: #ffffff;
}



.modal-form-submit-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    

}

.modal-form-submit-footer:hover,
.modal-form-submit-footer:focus {
    color: #ffffff;
    background: #404BBF;

}


.modal-form-input-icon-footer {
    margin-left: 16px;
}
/*mob*/

@media screen and (max-width: 767px) {

    .modal-form-input-footer {
        width: 100%;
        display: block;
    }
    .modal-form-field-footer {
        width: 100%;
    }
    .modal-form-input {
        width: 100%;
    }
   .logo {
    margin-right: auto;
   }
   .media {
    margin-right: auto;
    text-align: center;
   }
}

/* Tab*/
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .footer {
        background: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
    
    }
    
    .total-footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        flex-direction: unset;
        justify-content: left;
        padding-left: 108px;
      }

    .footer-container-logo {
        margin-right: 24px;
        text-align: left;
    }
   .footer-container {
    text-align: left;
   }

   .modal-form-input-footer {
    width: 264px;
    height: 40px;
    
}

    .footer-input {
    text-align: left;

    }

    .modal-form-submit-footer {
        margin-left: 24px;
    
    }
    
    }


/* Desk*/
@media screen and (min-width: 1158px) {
    
    
    .footer {
        background: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
    
    }
    
    .logo-footer {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
    
    }
    
    .footer-text {
        color: #ffffff;
        max-width: 264px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
    
    .media {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
    }
    
    .total-footer-container {
        display: flex;
        align-items: baseline;
        flex-direction: row;
    
    }
    
    .footer-container-logo {
        text-align: left;
    }
    
    .media-list {
        display: flex;
        gap: 16px;
    }
    
    .media-list-item {
        width: 40px;
        height: 40px;
    
    }
    
    .social-list-item-link-footer {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .social-list-item-link-footer:hover,
    .social-list-item-link-footer:focus {
        background-color: #31d0aa;
    }
    
    .social-list-icon {
        fill: #F4F4FD;
    
    }
   
    .footer-input {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    
        }
    
    .footer-input-form {
        display: flex;
        
    }
    
    
    .modal-form-field-footer {
        margin-right: 24px;
    }
    
    .modal-form-input-footer {
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #FFFFFF;
    }
    
    .modal-form-input-footer::placeholder {
        color: #FFFFFF;
    }
    
    
    
    .modal-form-submit-footer {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        
    
    }

    
    .modal-form-submit-footer:hover,
    .modal-form-submit-footer:focus {
        color: #FFFFFF;
        background: #404BBF;
    
    }
    
    .footer-input {
        text-align: left;
    }
    .modal-form-input-icon-footer {
        margin-left: 16px;
    }
    
}



  /* portfolio*/


  .current-menu-link {
        position: relative;
        color: #404bbf;
          
   
  }


  .portfolio-btn {
        padding: 96px 0 120px;
  }

  .button-list {
        display: flex;
        justify-content: center;
        gap: 24px; 
        margin-bottom: 72px;
  }

  .button-portfolio {
       font-family: var(--primary-font);
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #4D5AE5;
       background-color: #F4F4FD;
       cursor: pointer;
       padding: 12px 24px;
       border: 1px solid #e7e9fc;
       border-radius: 4px;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }

  .button-portfolio:hover,
  .button-portfolio:focus {
       color: #FFFFFF;
       background-color: var(--accent-color);
       border: 1px solid transparent;
  }
   .button-portfolio:hover,
   .button-portfolio:focus{
       border: 1px solid transparent;
       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
   }

   .button-click {
       font-family: var(--primary-font);
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       text-align: center;
       color: #4D5AE5;

   }

   .buttom-item {
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .work-items-portfolio {
       display: flex;
       flex-wrap: wrap;
       column-gap: 24px;
       row-gap: 48px;
       
   }

   .section-work-item {
       text-decoration: none;
       width: calc((100% - 48px) / 3);
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
       
       
   }
   

   .container-portfolio {
       padding: 32px 16px;
       border: 1px solid #e7e9fc;
       border-top: none; 
   }
   .section-work-subject {
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--primery-text-color-theme-light);
       margin-bottom: 8px;
   }   
   .section-work-text {
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--secondary-text-color-theme-light); 
   }
   .link-item {
       display: block;
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
       

   }
   .link-item-img {
       position: relative;
       overflow: hidden;
   }

   .link-item:hover,
   .link-item:focus{
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
   }
   
   .overlay {
       background: #4D5AE5;
       color: #F4F4FD;
       position: absolute;
       width: 100%;
       height: 100%;
       left: 0px;
       top: 0px;
       overflow: auto;
       font-family: var(--secondary-text-color-theme-dark);
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 24px;
       letter-spacing: 0.02em;
       transform: translate(0, 100%);
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
       padding: 40px 32px; 

   }
   .link-item:hover .overlay,
   .link-item:focus .overlay {
       transform: translate(0, 0);
   }

                    /*modal window*/

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }               
    
    .modal {
       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 576px;
        min-width: 408px;
        background: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 72px;
        padding-bottom: 24px;

    }
    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

    }
    .modal-close-btn:hover,
    .modal-close-btn:focus {
        background-color: #404bbf;
        border: none;
    }
    .modal-close-btn:hover .modal-close-btn-icon,
    .modal-close-btn:focus .modal-close-btn-icon {
        fill: #ffffff;
    }

    .modal-close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

/*modal form*/


    .modal-form {
        display: flex;
        flex-direction: column;
    }

    .modal-form-input-wrapper {
        display: block;
        position: relative;
    }

    .modal-form-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.2);
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .modal-form-input:focus {
        outline: none;
        border-color: #4D5AE5;
    }
    .modal-form-input:focus + .modal-form-input-icon {
        fill: #4D5AE5;
    }

    .modal-form-field {
        margin-bottom: 8px;

    }

     .modal-form-field-label { 
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
        margin-bottom: 4px;

     }


     .modal-text {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 16px;
        
     }

     .modal-form-input-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        display: block;
        width: 18px;
        height: 24px;
        color:#2E2F42;
        background: #FCFCFC;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
     }

     .modal-form-message {
        resize: none;
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.2);
        font-family: 'Roboto';
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

     }
     .modal-form-message::placeholder {
        font-size: 14px;
        /*text-transform: uppercase;*/

     }
     .modal-form-message:focus {
        outline: none;
        border-color: #4D5AE5;
     } 

     .modal-form-fake {
        margin-bottom: 24px;
     }


     .modal-form-check {

        width: 16px;
        height: 16px;
        visibility: hidden;

        position: absolute;
        appearance: none;
     }

     .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;

     }
     .modal-form-chek-desc {
       
        /*width: 100%;
        height: 16px;*/
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
     }

     
     .modal-form-chek-desc-pr {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        width: 16px;
        height: 16px;
        border: 1px solid #2e2f42;
        border-radius: 2px;
        padding: 4px 3px;
        margin-right: 8px;
        
     }
        .hidden-icon-checkbox {
       
        transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .modal-form-check:checked + .modal-form-chek-desc > .modal-form-chek-desc-pr {
            border: none;
            background-color: #404BBF;
            fill: #FFFFFF;
            border-color: #404BBF;
         }
    
    
     .link-checkbox {
        color: #4d5ae5;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.4;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
     }

    .modal-form-field-com {
        margin-bottom: 16px;
    }
     .modal-form-submit {
        align-self: center;
        min-width: 169px;
        height: 56px;
        font-family: var(--primary-font);
        align-self: center;
        padding: 16px 32px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        text-align: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
       .model-form-submit-btn:hover,
       .model-form-submit-btn:focus {
           background: #4D5AE5;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
           border-radius: 4px;
           color: #FFFFFF;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
               border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
               box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

       }
 

 /*
    
   */

    


     